// COLORS SCHEME
$white : #fff;
$blue : #3b84da;
$naranjo : #d46b4d;
$amarillo : #e2cd31;


// TYPEFACES
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@300&display=swap');

$font-pt-mono : 'pt mono';
$font-roboto : 'roboto';

$ft-regular : 400;
$ft-light : 300;

// FONTS SIZES
$fs-xxx-large : 70px;
$fs-xx-large : 40px;
$fs-x-large : 30px;
$fs-large : 18px;
$fs-medium : 16px;